a:not([href]) {
  color: white;
  text-decoration: none;
}
.mainNavbar {
  padding: 0;
  /* width: 10rem; */
}
.bg-dark {
  opacity: 0.8;
  background-color: black !important;
}
.links {
  display: block;
  width: fit-content;
  height: 100%;
  line-height: 40px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: white;
  /* padding-right: 50px; */
  margin-right: 2rem;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  border: none;
  /* border: 1px solid black; */
  transition: all 0.35s;
}
.links:hover {
  cursor: pointer;
  display: block;
  width: fit-content;
  text-decoration: none;
  border: none;
  color: #ff0055;
  background-color: transparent;
  border: 0px solid red;
  /* width: ; */
}
.mainHederText {
  font-family: "Rowdies", cursive;
}
.link {
  color: #292f38;
  text-decoration: none;
}

/* visited link */
.link:visited {
  text-decoration: none;
  color: blue;
}

/* mouse over link */
.link:hover {
  color: gray;
  text-decoration: none;
}

/* selected link */
Link:active {
  color: red;
}
.nav-link {
  padding: 0;
}
.navbar {
  /* padding: .5rem 1rem; */
  padding: 0;
}
